<footer class="footer">
    <div class="footer__inner">
        <div class="footer__content">
            <span>&copy; {{ now.Format "2006" }}</span>
            {{ if .Site.Author.name }}<span><a href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a></span>{{ end }}
            {{ if .Site.Copyright }}<span>{{ .Site.Copyright| safeHTML }}</span>{{ end }}
            <!-- <img src="/DesignDistillery_logoLarge.svg" alt=DD logo"> -->
            
            
           <!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="40px" height="40px" viewBox="0 0 600 600" style="enable-background:new 0 0 600 600;" xml:space="preserve">
            <style type="text/css">
            <![CDATA[
                .st0{display:inline;fill:#F7941E;fill-opacity:0.8;}
                .st1{fill:#27AAE1;fill-opacity:0.8;}
                .st2{fill:#F7941E;fill-opacity:0.8;}
                .st3{display:none;}
                .st4{display:inline;fill:#27AAE1;fill-opacity:0.8;}
            ]]>
            </style>
            <g class="st3">
                <path class="st4" d="M-1,129.829V599c0,0,389.182-3.076,386.104-233.817C382.029,134.443-1,129.829-1,129.829z"/>
                <path class="st0" d="M599,468.17V-1c0,0-389.181,3.076-386.104,233.816C215.973,463.557,599,468.17,599,468.17z"/>
            </g>
            <g class="st3">
                <path class="st4" d="M27,151.051v420.822c0,0,349.075-2.76,346.315-209.722C370.557,155.19,27,151.051,27,151.051z"/>
                <path class="st0" d="M570.912,447.771V26.95c0,0-349.075,2.759-346.315,209.721C227.357,443.632,570.912,447.771,570.912,447.771z"
                    />
            </g>
            <g class="st3">
                <path class="st4" d="M29,221v345.051c0,0,286.223-2.263,283.96-171.96C310.697,224.394,29,221,29,221z"/>
                <path class="st0" d="M570.912,370V24.95c0,0-286.222,2.262-283.959,171.959S570.912,370,570.912,370z"/>
            </g>
            <g class="st3">
                <path class="st4" d="M-1-1v380.376c0,0,315.525-2.494,313.031-189.565C309.537,2.742-1-1-1-1z"/>
                <path class="st0" d="M599,599V218.625c0,0-315.524,2.494-313.029,189.564C288.465,595.259,599,599,599,599z"/>
            </g>
            <g>
                <path class="st1" d="M29,27v345.051c0,0,286.223-2.263,283.96-171.96C310.697,30.394,29,27,29,27z"/>
                <path class="st2" d="M570.912,574V228.95c0,0-286.222,2.262-283.959,171.959S570.912,574,570.912,574z"/>
            </g>
            </svg>

        </div>
    </div>
 
</footer>
